table{
background-color: #ddd;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 460px;
height: 680px;


}
.btn{
width: 60px;
height: 60px;
background-color: #efefef;
cursor: pointer;
font-size: 15px;
text-align: center;



}

.btn.btn--first{
text-align: right;
box-sizing: border-box;
padding-right: 20px;
background-color: #fff;
font-size: 25px;


}